body {
	font-family: 'Press Start 2P', cursive;
	background-color: #C2B280;

}

.content {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-family: 'Press Start 2P', cursive;
}

.header h1 {
	margin-top: 50px;
}

.main {
	margin-top: 75px;
}

section.question-box,
section.diamond-box {
	display: inline-block;
	border: 1px solid brown;
	vertical-align: top;
	padding: 15px;
}

.question-count {
	color: white;
	padding: 8px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: solid black 1px;
	background-color: black;
}

.answers > li {
	margin-top: 1.5em;
}
